@model TaskManager2.Models.WorkTask

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit task</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Value" class="control-label">Task</label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskStatusLabelId" class="control-label">Status</label>
                <select asp-for="TaskStatusLabelId" class="form-control" asp-items="ViewBag.TaskStatusLabelId"></select>
                <span asp-validation-for="TaskStatusLabelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExecutionDate" class="control-label">Execution date</label>
                <input asp-for="ExecutionDate" class="form-control" />
                <span asp-validation-for="ExecutionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
