@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a very simple task management app.</p>
    <p>Go to <a href="/WorkTasks">Tasks</a> page to add new tasks (you need to be registered and logged in).</p>
    <p>Go to <a href="/TaskStatusLabels">Statuses</a> page to manage statuses.</p>
</div>
